{% include 'partials/header.twig' %}

<p>Dear {{ user_display_name }},</p>

<p>We received a request to reset your password. If you did not make this request, please ignore this email. Otherwise,
    you can reset your password using the link below:</p>

<p><a href="{{ site_url }}/wp-login.php?action=rp&key={{ reset_key }}&login={{ user_login }}">Reset Password</a></p>

<p>If the above link does not work, copy and paste the following URL into your browser:</p>
<p>{{ site_url }}/wp-login.php?action=rp&key={{ reset_key }}&login={{ user_login }}</p>

<p>Thank you,</p>
<p>The {{ site_name }} Team</p>


{% include 'partials/footer.twig' %}